body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

main {
    height: 100vh;
    background-color: #f5f5f5;
    gap: 5vw;
}

.dflex {
    display: flex;
}

.column {
    display: flex;
}

.navMain {
    background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
    height: 100vh;
    width: 17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: azure;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    font-size: 1rem;
}

ul,
li {
    list-style: none;
    padding: 3%;
    margin: 0;
    position: relative;
}

.navTop>ul:nth-child(2)>li:nth-child(2)>a:nth-child(1)::after {
    content: url(../img/read.svg);
    position: absolute;
    left: -15px;
}

.navTop>ul:nth-child(2)>li:nth-child(3)>a:nth-child(1)::after {
    content: url(../img/update.svg);
    position: absolute;
    left: -15px;
}

.navTop>ul:nth-child(2)>li:nth-child(4)>a:nth-child(1)::after {
    content: url(../img/create.svg);
    position: absolute;
    left: -15px;
}

.navTop>ul:nth-child(2)>li:nth-child(5)>a:nth-child(1)::after {
    content: url(../img/delete.svg);
    position: absolute;
    left: -15px;
}

.navBottom {
    height: 50%;
    width: 50%;
}

.navTop {
    margin-top: 35%;
}

#tableau {
    width: 70%;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    height: 65%;
}

#tableTache {
    width: 100%;
    padding: 1%;
}

th,
td {
    padding: 1%;
    margin: 1%;
}

/* input[type=submit] {
    border: none;
    border-radius: 0.5rem;
    padding: 3%;
    margin: 1%;
    cursor: pointer;
    background: none;
} */


#content {
    width: 80%;
}

#cardsTendance {
    height: 20vh;
    width: 80%;
    justify-content: space-evenly;
}

.mainLogin {
    max-height: 100vh;
    /* overflow: hidden; */
}

.loginForm {
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #141212;
    color: #ffbd1b;
    padding-bottom: 10%;
}


.loginForm>h1 {
    font-size: 2rem;
    text-align: center;
}


.loginForm>input {
    color: #ffbd1b;
    padding: 1% 4%;
    width: 100%;
}

.loginForm>label {
    padding: 1% 0;
    text-align: left;
    width: 55%;
}

.backgroundContainer {
    background-image: url(../img/concierge.jpg);
    background-size: cover;
    height: 100vh;
    width: 50%;
}

form.dflex>div:nth-child(1)>div:nth-child(2) {
    justify-content: end;
    gap: 10%;
    width: 100%;
    padding: 10% 0%;
}

div.dflex:nth-child(1) {
    justify-content: end;
    gap: 21%;
}